{% extends 'base.html' %}

{% block title %}Login | AI{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="">
        <p>Welcome to our AI Prediction website dedicated to addressing and raising awareness about Porn Addiction. At
            the forefront of this initiative is our team, composed of two dedicated individuals committed to utilizing
            technology for the betterment of individuals and society.</p>
        <h3>Meet the Team</h3>
        <p><strong>Dev 1: Md. Fahim Nizamee</strong></p>
        <ul>
            <li><strong>ID:</strong> C211082</li>
            <li><strong>Institution:</strong> International Islamic University Chittagong</li>
            <li><strong>GitHub:</strong> <a href="https://github.com/Fahim-Nizamee" target="_new">Fahim-Nizamee</a></li>
        </ul>
        <p><strong>Dev 2: Muhammad Imtiaz Hossain</strong></p>
        <ul>
            <li><strong>ID:</strong> C211100</li>
            <li><strong>Institution:</strong> International Islamic University Chittagong</li>
            <li><strong>GitHub:</strong> <a href="https://github.com/I-MTIAZ/I-MTIAZ" target="_new">I-MTIAZ</a></li>
        </ul>
        <h3>About Us</h3>
        <p>Our team has developed a specialized AI prediction website using Flask, aimed at assessing and predicting
            Porn Addiction based on user-provided data. We understand the sensitive nature of this issue and are
            committed to offering a discreet and non-judgmental platform to assist individuals in understanding and
            addressing potential concerns related to porn consumption.</p>
        <h3>Our Mission</h3>
        <p>At the core of our mission is the belief that technology can be harnessed for positive change. By leveraging
            artificial intelligence, we aim to provide a tool that not only predicts the likelihood of porn addiction
            but also serves as a starting point for individuals to seek support and make informed decisions about their
            well-being.</p>
        <h3>How it Works</h3>
        <p>Our AI prediction model analyzes the data you provide to generate insights into your potential vulnerability
            to porn addiction. The process is designed to be secure, confidential, and focused on providing valuable
            information without compromising your privacy.</p>
        <h3>Connect with Us</h3>
        <p>We welcome you to explore our website, engage with our prediction tool, and join the conversation around the
            impact of technology on personal well-being. Connect with us on GitHub to stay updated on our latest
            developments and contribute to the ongoing dialogue.</p>
        <p>Thank you for visiting, and we look forward to being a part of your journey towards a healthier and more
            informed lifestyle.</p>
    </div>
</div>

{% endblock %}