{% extends 'base.html' %}

{% block title %}Login | AI{% endblock %}

{% block content %}
<div class="container-lg my-4 land ">
    <div class="">
        <h1 class="text-center text-dark font-monospace">Welcome to Our AI-Powered Porn Addiction Prediction Tool</h1>
        <p class="text-center font-monospace">At Predict Addiction, we understand the importance of addressing sensitive issues in a discreet and
            supportive manner. Our AI prediction model is designed to help individuals gain insights into their
            potential vulnerability to porn addiction through a simple and confidential process.</p>
        
        <div class="d-flex align-items-end justify-content-center bg shadow form-control my-5">
            <a class="btn btn-dark shadow w-50 mb-4 font-monospace" href="{{url_for('predict')}} ">Predict</a>
        </div>
        <h2 class="mt-5 mb-3 text-center font-monospace">Get Started Today</h2>
        <p class="text-center font-monospace">Take the first step towards understanding your relationship with porn. Our AI is here to provide insights,
            support, and information. Begin your journey to a healthier lifestyle with confidence.</p>
        
</div>

{% endblock %}